# Validate JSON schema files
# Source: https://github.com/GrantBirki/json-yaml-validate
# Forked from: https://github.com/marketplace/actions/json-yaml-validate
name: Validate JSON custom

on:
  push:
    branches: [main, test-validation]
  pull_request:
    paths:
      - 'examples/**'
      - 'schemas/**'

jobs:
  validate-github-actions-workflows:
    name: Validate GitHub Actions workflows
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Validate workflows
        uses: walbo/validate-json@v1.1.0
        with:
          files: ./examples/*.xoma
          schema: ./schemas/asset_schema.json
          print-valid-files: true



#name: Validate JSON schemas for assets and materials

#on:
#  pull_request:
#    paths:
#      - 'examples/**'
 #     - 'schemas/**'
#
#jobs:
#  json-schema-validation:
#    name: JSON schema validation
#    runs-on: ubuntu-latest
#
#    steps:
#      - uses: actions/checkout@v1
#
#      - name: Validate asset JSON schemas
#        uses: nhalstead/validate-json-action@0.1.3
#        with:
#          schema: ./schemas/asset_schema.json
#          jsons: ./examples/*.xoma
#





#      - name: Validate material JSON schemas
#        uses: nhalstead/validate-json-action@0.1.3
#        with:
#          schema: ./schemas/material_schema.json
#          jsons: ./examples/*.xomp
#
#      - name: Validate electromagnetic material properties JSON schemas
#        uses: nhalstead/validate-json-action@0.1.3
#        with:
#          schema: ./schemas/material_emp_schema.json
#          jsons: ./examples/*_emp.xompt
#
#
####